HOME_PATH=""

# Database configuration
DB_DRIVER=mysql
DB_HOST=
DB_NAME=
DB_USER=
DB_PASSWORD=

# Redis Configuration
REDIS_PORT=6379

# Minio Configuration
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadminpassword

# MeiliSearch Configuration
MEILI_MASTER_KEY=myMasterKey

# Grafana Configuration
GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=grafana_secure_password

# Nginx Configuration
NGINX_PORT=8080

# Prometheus Configuration
PROMETHEUS_PORT=9090

# RabbitMQ Configuration
RABBITMQ_PORT=5672
RABBITMQ_MANAGEMENT_PORT=15672

# Kafka Configuration
KAFKA_BROKER_ID=1
KAFKA_PORT=9092
ZOOKEEPER_PORT=2181

# SMTP Configuration
MAIL_MAILER=smtp
MAIL_HOST=mailhog
MAIL_PORT=1025
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null

# Display Error
SHOW_ERRORS=0