<%- contentFor('HeaderCss') %>
<%- contentFor('body') %>
<div class="row">
  <div class="col-xl-6">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title mb-0">Basic Chart</h4>
      </div><!-- end card header -->

      <div class="card-body">
        <div id="basic_charts" data-colors='["--vz-primary", "--vz-success", "--vz-danger"]' class="apex-charts"
          dir="ltr"></div>
      </div><!-- end card-body -->
    </div><!-- end card -->
  </div>
  <!-- end col -->

  <div class="col-xl-6">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title mb-0">Multi Group</h4>
      </div><!-- end card header -->

      <div class="card-body">
        <div>
          <div id="multi_charts" data-colors='["--vz-primary", "--vz-success", "--vz-warning", "--vz-danger"]'
            class="apex-charts" dir="ltr"></div>
        </div>
      </div><!-- end card-body -->
    </div><!-- end card -->
  </div>
  <!-- end col -->
</div>
<%- contentFor('FooterJs') %>

<!-- apexcharts -->
<script src="/assets/libs/apexcharts/apexcharts.min.js"></script>
<script src="/assets/js/pages/apexcharts-slope.init.js"></script>

<!-- App js -->